select {
    outline: none;
    margin-top: 10px;
    border: 1px rgb(223, 223, 223) solid;
}

option {
    outline: none;
}

.select {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}